@import './assets/styles/mixins/_mixins.scss';
@import './assets/styles/themes/__theme.scss';

.App{
    height: 100vh;
    @include themify($themes){
      background-color: themed($theme-map, "primary-bkg"); 
      transition:  0.3s ease;;
    }
    .row{
      margin: 0px;
      .cards{
        padding: 0;
        height: calc(100vh - 77px);
      }
      .full-content{
        display: flex;
        flex-flow: row wrap;
        overflow: scroll;
        img{
          width: 30%;
          padding: 10px 5px;
        }
      }
    }
}
*{
  @include themify($themes){
    color: themed($theme-map, "primary-font"); 
  }
}

